.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.slide-hidden {
  display: none;
}

.slide-text {
  font-size: 15px;
  text-align: center;
  margin-top: 1.5rem;
}

audio {
  background-color: red;
  display: block;
  border: solid 3px red;
}
